<div class="flex bg-gradient-to-r from-blue-600 to-violet-600 h-[90vh]">
    <!-- Left Panel -->
    <div class="w-1/2 p-8">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Add Note</h2>
            <form [formGroup]="notesForm" (ngSubmit)="addNote()" class="space-y-4">
                <div class="relative">
                    <textarea formControlName="content" class="h-32 border rounded-lg p-2 bg-gray-100 text-gray-800 block w-full focus:outline-none focus:ring focus:border-blue-500" placeholder="Enter your note here..."></textarea>
                     
                </div>
                <button [disabled]="!notesForm.valid" class="w-full py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 disabled:bg-gray-300 disabled:text-gray-500 focus:outline-none focus:ring focus:bg-blue-500">Add Note</button>
            </form>
            <div class="text-red-600 font-semibold mt-2" *ngIf="notesForm.invalid && (notesForm.dirty || notesForm.touched)">
                <div *ngIf="notesForm.controls['content'].hasError('required')">Content is required.</div>
                <div *ngIf="notesForm.controls['content'].hasError('maxlength')">Content cannot exceed 500 characters.</div>
                <div *ngIf="notesForm.controls['content'].hasError('pattern')">Content contains invalid characters.</div>
            </div>
        </div>
    </div>

    <!-- Right Panel -->
    <div class="w-1/2 p-8  overflow-y-auto">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <p class="text-gray-800 mb-4">Total Notes : {{totalNotes}}</p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-4">My Recent Notes</h2>
            <div *ngFor="let note of notes; let i = index" class="bg-gray-100 p-4 rounded-lg shadow-md mb-4">
                <div class="flex justify-between items-center">
                    <p class="text-lg text-gray-700"><strong>{{i+1}}. </strong>{{note.content}}</p>
                    <button (click)="deleteNote(note.id)" class="hover:bg-gray-200 font-bold py-2 px-4 rounded-full inline-flex items-center bg-white">
                        <span class="text-white">❌</span>
                    </button>
                </div>
                <p class="text-sm text-gray-500 mt-2">{{note.createdDate | date:'medium'}}</p>
            </div>

            <div *ngIf="!notes.length">
                <p class="text-xl text-red-500 font-semibold text-center">
                    Notes Not Found
                </p>
            </div>
        </div>
    </div>
</div>
