<div class="service-section">
  <div class="container mx-auto py-20 px-4">
    <h2 class="text-5xl font-semibold mb-10 text-center text-white">Our Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="service-card">
        <i class="fab fa-java text-5xl text-white mb-4"></i>
        <h3 class="text-xl font-semibold mb-2 text-white">Java Development</h3>
        <p class="text-gray-300">
          Highly skilled in Java programming with expertise in backend development. Proficient in utilizing Java's
          features and frameworks to create robust and scalable solutions.
        </p>
      </div>

      <div class="service-card">
        <i class="fas fa-laptop-code text-5xl text-white mb-4"></i>
        <h3 class="text-xl font-semibold mb-2 text-white">Frontend Development</h3>
        <p class="text-gray-300">
          Skilled in HTML, CSS, JavaScript, Angular, and React.js. Experienced in creating engaging and responsive
          user interfaces.
        </p>
      </div>

      <div class="service-card">
        <i class="fas fa-server text-5xl text-white mb-4"></i>
        <h3 class="text-xl font-semibold mb-2 text-white">Backend Development</h3>
        <p class="text-gray-300">
          Skilled in Java, Spring Boot, and Node.js. Proficient in backend development with a strong focus on creating
          robust and efficient solutions.
        </p>
      </div>
    </div>
  </div>
</div>
