.result-add-form {

  width: 100%;
  height: 100%;

}


.addbtn{
  background-color: #4338ca;
  border-color: #4338ca;
}
.addbtn:hover{
  background-color: #3730a3;
  border-color: #3730a3;
}
.result-add-form form {
  max-width: 500px;
  margin: 0 auto;
}

.result-add-form form label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.formerrormsg {
  font-weight: 500;
  color: #e11d48;
  font-size: small;
  position: absolute;
  top: 0;
  right: 0%;
  flex: 1;
}

/* .backbtn{
  color: #5468ff;
  border: none;
  background-color: #E5E7EB;
} */

.backbtn {
  color: white;
  background-color: #D61F69;
  margin-left: 15px;
  border: none;
}

.backbtn:hover {
  background-color: #BF125D;
  color: white;
}