.result-edit-form {

  width: 100%;
  height: 100%;

}



.result-edit-form form {
  max-width: 500px;
  margin: 0 auto;
}

.result-edit-form form label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.gobackbtn {
  color: white;
  background-color: #D61F69;
  margin-left: 15px;
  border: none;
}

.gobackbtn:hover {
  background-color: #BF125D;
  color: white;
}